table {
	border-collapse: collapse;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
td {
	border: 1px solid black;
}
.fstcell {
	background-color: red;
}
.scndcell {
	background-color: orange;
}
